* {
    margin: 0;
    padding: 0;
}

.bg-banner {
    background-color: #feeae9;
}
.panda-button {
    background: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 75, 146) 100%);
    color: white;
    padding: 5px 15px;
}